In [1]:
import yfinance as yf
import pandas as pd

ratiosNames=['currentRatio','quickRatio','cashRatio','debtToEquity','returnOnEquity','profitMargins','trailingPE',
       'priceToSalesTrailing12Months','priceToBook']
ratiosValues=[stockInf['currentRatio'], stockInf['quickRatio'], cashRatio, stockInf['debtToEquity']/100, 
      stockInf['returnOnEquity'], stockInf['profitMargins'], stockInf['trailingPE'], 
      stockInf['priceToSalesTrailing12Months'], stockInf['priceToBook']]

In [6]:
tickers=['AMZN','WMT','MSFT','GOOGL']
ratiosValues=[]
ratiosNames=['currentRatio','quickRatio','cashRatio','debtToEquity','returnOnEquity','profitMargins','trailingPE',
       'priceToSalesTrailing12Months','priceToBook']
for element in tickers:
    stock=yf.Ticker(element)
    stockInf=stock.info
    stockBalance=stock.balancesheet.iloc[:, 0].to_dict()
    
    try:
        print(f"Trying with {element}",end=" ")
        cashRatio=stockBalance['Total Current Assets']/stockBalance['Total Current Liabilities']
        ratiosValues.append([ \
                stockInf['currentRatio'], \
                stockInf['quickRatio'], \
                cashRatio, \
                stockInf['debtToEquity']/100, \
                stockInf['returnOnEquity'], \
                stockInf['profitMargins'], \
                stockInf['trailingPE'], \
                stockInf['priceToSalesTrailing12Months'],  
                stockInf['priceToBook'] \
        ])
        print("Success")
    except :
        print("Failed")

Trying with AMZN Failed
Trying with WMT Failed
Trying with MSFT Failed
Trying with GOOGL Failed

In [15]:
msft = yf.Ticker("MSFT")

In [18]:
hist = msft.history(period="1mo")

In [19]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-24 00:00:00-05:00,249.960007,251.000000,248.100006,249.220001,24990900,0,0
2023-02-27 00:00:00-05:00,252.460007,252.820007,249.389999,250.160004,21190000,0,0
2023-02-28 00:00:00-05:00,249.070007,251.490005,248.729996,249.419998,22491000,0,0
2023-03-01 00:00:00-05:00,250.759995,250.929993,245.789993,246.270004,27565300,0,0
2023-03-02 00:00:00-05:00,246.550003,251.399994,245.610001,251.110001,24808200,0,0
2023-03-03 00:00:00-05:00,252.190002,255.619995,251.389999,255.289993,30741300,0,0
2023-03-06 00:00:00-05:00,256.429993,260.119995,255.979996,256.869995,24109800,0,0
2023-03-07 00:00:00-05:00,256.299988,257.690002,253.389999,254.149994,21473200,0,0
2023-03-08 00:00:00-05:00,254.039993,254.539993,250.809998,253.699997,17340200,0,0
2023-03-09 00:00:00-05:00,255.820007,259.559998,251.580002,252.320007,26653400,0,0
2023-03-10 00:00:00-05:00,251.080002,252.789993,247.600006,248.589996,28321800,0,0
2023-03-13 00:00:00-04:00,247.399994,257.910004,245.729996,253.919998,33339700,0,0
2023-03-14 00:00:00-04:00,256.750000,261.070007,255.860001,260.790009,33620300,0,0
2023-03-15 00:00:00-04:00,259.980011,266.480011,259.209991,265.440002,46028000,0,0
2023-03-16 00:00:00-04:00,265.209991,276.559998,263.279999,276.200012,54768800,0,0
2023-03-17 00:00:00-04:00,278.260010,283.329987,276.320007,279.429993,69492200,0,0
2023-03-20 00:00:00-04:00,276.980011,277.480011,269.850006,272.230011,43466600,0,0
2023-03-21 00:00:00-04:00,274.880005,275.000000,269.519989,273.779999,34558700,0,0
2023-03-22 00:00:00-04:00,273.399994,281.040009,272.179993,272.290009,34873300,0,0
2023-03-23 00:00:00-04:00,277.940002,281.059998,275.200012,277.660004,36590300,0,0

In [3]:
pd.DataFrame(ratiosValues,columns=ratiosNames,index=tickers)

,currentRatio,quickRatio,cashRatio,debtToEquity,returnOnEquity,profitMargins,trailingPE,priceToSalesTrailing12Months,priceToBook
TMUS,0.871,0.659,1.100539,1.57363,0.05044,0.04207,45.078950,1.879830,2.188778
VZ,0.974,0.799,1.376551,2.28038,0.31167,0.16419,9.902255,1.647358,2.830888
T,0.701,0.511,0.819824,1.15572,0.01368,0.00665,192.790710,1.023040,1.084274

In [ ]:
stockInf;
stock.financials;
stockBalance;