In [54]:
from bs4 import BeautifulSoup
import pandas as pd
import os
import configparser

In [14]:
config = configparser.ConfigParser()
config.read('./Data/estados_de_cuenta/config.ini')

# Reading the data inside the xml
# file to a variable under the name 
# data
file_name='05_2024'
data_address=config['DATA']['ADDRESS']

with open(f'{data_address}/xml/{file_name}.xml', 'r') as f:
    data = f.read()

f.close()
# Passing the stored data inside
# the beautifulsoup parser, storing
# the returned object 
Bs_data = BeautifulSoup(data, "xml")
 
# Finding all instances of tag 
# `unique`
b_unique = Bs_data.find_all('DG:MovimientosDelCliente')
 
dict_form = lambda record: { "fecha" : record.get("fecha"), "descripcion" : record.get("descripcion") , "importe" : record.get("importe"), "ingreso": -1}
records_dict_list = [ dict_form(record) for record in b_unique ]

df = pd.DataFrame(records_dict_list)
csv_file = f"{data_address}/csv/{file_name}.csv"
if os.path.exists(csv_file):
    print("File already exist.")
else:
    df.to_csv(csv_file)
month_data = pd.read_csv(csv_file)

File already exist.

In [15]:
total_money = lambda x: month_data[ month_data["ingreso"] == x]["importe"].sum() 
ingresos = total_money(1)
egresos = total_money(-1)
print("Ingresos: ",ingresos)
print("Egresos: ",egresos)

Ingresos:  58177.47
Egresos:  55443.52

In [16]:
#month_data[ month_data["ingreso"] == -1].sort_values("importe",ascending=False)

In [56]:
#CREDIT CARD USE ANALYSIS
credit_card_file = 'TransactionHistory'
credit_card_data = f"{data_address}/credit_card/{credit_card_file}.csv"
cc_transactions_df = pd.read_csv(credit_card_data,names=["date","description","amount"],thousands=',',dtype={"date":str,"description":str,"amount":float})

In [60]:
cc_transactions_df.sort_values("amount",ascending=False).head(30)

          date                               description   amount
39  09/06/2024         LIVERPOOL XALAPA       XALAPA VER  7649.15
51  03/06/2024         QR GOB EDO PUE MU      PUEBLA PUE  2222.04
18  18/06/2024      ALLIANZ MEXICO CR      CIUDAD DE MEX  2000.00
15  21/06/2024         BIO DENTAL             XALAPA VER  1500.00
35  10/06/2024         BIO DENTAL             XALAPA VER  1500.00
9   28/06/2024         ATLETICOS XALAPA       XALAPA VER  1399.00
46  06/06/2024      AMAZON MX MARKETPLACE  CIUDAD DE MEX  1263.28
42  08/06/2024  MERCADOPAGO *POPULAR   Xalapa        VER   825.00
7   28/06/2024         BIO DENTAL             XALAPA VER   800.00
11  26/06/2024         BIO DENTAL             XALAPA VER   800.00
5   29/06/2024         SERV LA ROTONDA S      XALAPA VER   796.19
17  19/06/2024         SERV LA ROTONDA S      XALAPA VER   794.58
41  08/06/2024         REST MORENA MIA        XALAPA VER   737.00
22  15/06/2024         SERV LA ROTONDA S      XALAPA VER   736.47
37  10/06/2024         SERV LA ROTONDA S      XALAPA VER   719.66
24  14/06/2024      AMAZON MX              CIUDAD DE MEX   638.00
14  22/06/2024      SERVIFACIL ESTANZUELA  EMILIANO ZAPA   616.49
45  07/06/2024      MEGACABLE CR MIT       GUADALAJARA J   550.00
13  24/06/2024         GAS DEL ATLANTICO      XALAPA VER   550.00
52  03/06/2024      ADO AEROPUERTO VER XAL CIUDAD DE MEX   404.00
34  11/06/2024         ORTHO06                PUEBLA PUE   395.00
38  09/06/2024         LIVERPOOL XALAPA       XALAPA VER   339.15
36  10/06/2024         CAFETERIA OFELIA       XALAPA VER   333.50
48  05/06/2024         CAFETERIA OFELIA       XALAPA VER   328.90
58  02/06/2024  WDFG MADRID T123       MADRID        ESP   324.62
12  24/06/2024      AMAZON MX              CIUDAD DE MEX   318.00
75  30/05/2024  BRUTAL58               MADRID        ESP   276.79
72  31/05/2024  NOMADE CAFE            MADRID        ESP   269.03
59  02/06/2024  MATILDA                MADRID        ESP   259.62
30  12/06/2024      EL SANTUARIO CAFE GAL  TEZIUTLAN PUE   229.00